.container{
    display: flex;
   justify-content: space-evenly;
    padding: 10px;
}

.book{
    display: flex;
    flex-direction: column;
    width: 48%;
    min-height: 100vh;
    border: solid 1px black;
    margin: 1% auto;
    padding:1%;
    
}

img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    object-position: center;
    margin: auto;
}
.item{
    display: flex;
    flex-direction: column;
}