.container{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 2px;
    padding: 10px;
}

.book{
    width: 50%;
    /* height: 15vh; */
    border: solid 1px black;
    margin: auto;
    
}

img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    object-position: center;
}